<section>
  <h1>About</h1>

  <p>This blog is about the making of <a
    href="http://www.solitr.com/">Solitr</a> (<a
    href="https://github.com/joliss/solitr">GitHub</a>), an HTML5 game written
  in CoffeeScript, served out through a Ruby on Rails application.</p>

  <p>Read Jo's other blog at <a
    href="http://opinionatedprogrammer.com/">Opinionated Programmer</a>, follow
  her at <a href="https://twitter.com/jo_liss">@jo_liss</a>, or email her at <a
    href="mailto:joliss42@gmail.com">joliss42@gmail.com</a>.</p>

</section>
